.main-layer {
    visibility: hidden;
    z-index: 0;
}

.main-layer.layer-visible {
    visibility: visible;
    z-index: 1;
}

body {
  min-height: 100%;
  /* align using 51px */
  padding-top: 64px;
}

.CodeMirror {
    height: auto;
}