:root {
    --font-size-body: 13;
    --margin: 5;

    --primary-bg-color: #f3f3f3;
    --dialog-bg-color: #fff;
    --primary-fore-color: #333;
    --primary-border: #ccc;
    --selection-bg-color: #add6ff;
    --tab-inactive-bg-color: #e0e0e0;

    --control-row-height: 25;
    --tab-list-height: calc(var(--control-row-height) + 5);
}

html, body {
    font-size: calc(1px * var(--font-size-body));
    color: var(--primary-fore-color);
    background-color: var(--primary-bg-color);
}

*, *::after, *::before {
    box-sizing: border-box;
}
