/* HEADER *********************************************************************/ 

.mdl-layout__header {
    min-height: 30px;
    height: 30px;
    -webkit-user-select: none;
}

.mdl-layout__header-row {
    height: 30px;
    min-height: 30px;
    padding: 0 0 0 60px;
    -webkit-app-region: drag;
}

.mdl-layout-title {
    font-size: 14px;
}

/* main menu burger button */

.mdl-layout__drawer-button {
    margin: -8px 6px 0;
    height: 38px;
    min-height: 38px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

@media screen and (max-width: 1024px)  {
    .mdl-layout__drawer-button  {
        line-height: 54px;
    }
}

.mdl-layout__drawer-button .material-icons {
    color: white;
    opacity: 1;
    line-height: initial;
    transform: scaleX(1.7);
}

/* HEADER ICONS **************************************************************/

.mdl-layout__header-row .mdl-button {
    height: 30px;
    min-height: 30px;
    width: 30px;
    min-width: 30px;
    align-self: flex-start;
    border-radius: 0;
    -webkit-app-region: no-drag;
}

.mdl-button--minimize .material-icons {
    vertical-align: -10px;
    margin-left: -12px;
}

.mdl-button--toggle-maximized .material-icons {
    vertical-align: -4px;
    margin-left: -12px;
}

.mdl-button--exit .material-icons {
    vertical-align: -3px;
    margin-left: -6px;
}

.mdl-layout__header-row .mdl-button--exit {
    width: 45px;
    min-width: 45px;
    background-color: #C75050; /* #E04343; */
}

.mdl-button--exit:hover {
    background-color: #e04343;
}

.mdl-button--exit:active, .mdl-button--exit:focus {
    background-color: #993D3D;
}

/* TABS **********************************************************************/

.mdl-tabs__tab-bar {
    justify-content: flex-start;
}

.mdl-tabs__tab-bar > div:last-child .material-icons {
    vertical-align: -7px;
}

.mdl-tabs__tab-bar > div:last-child .mdl-tabs__tab {
    padding: 0 12px;
}

/* OVERLAY *******************************************************************/

.mdl-layout__obfuscator.is-visible {
    -webkit-app-region: no-drag;
}

/* OVERLAY MENU **************************************************************/

.mdl-layout__drawer {
    -webkit-user-select: none;
    cursor: default;
}
