/* HEADER *********************************************************************/ 

.mdl-layout__header {
    min-height: 30px;
    height: 30px;
    -webkit-user-select: none;
    background-color: #fff;
}

.mdl-layout__header-row {
    height: 30px;
    min-height: 30px;
    padding: 0 0 0 60px;
    -webkit-app-region: drag;
    border-bottom: 1px solid #e0e0e0;
}

.mdl-layout-title {
    font-size: 14px;
}

/* main menu burger button */

.mdl-layout__drawer-button {
    margin: -8px 0 0 0;
    height: 38px;
    min-height: 38px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

.mdl-layout__drawer-button:hover {
    background-color: rgba(158,158,158,.2);
}

.mdl-layout__drawer-button:active {
    background-color: rgba(158,158,158,.4);
}

@media screen and (max-width: 1024px)  {
    .mdl-layout__drawer-button  {
        line-height: 54px;
    }
}

.mdl-layout__drawer-button .material-icons {
    color: #000;
    opacity: 1;
    line-height: initial;
    transform: scaleX(1.7);
    vertical-align: 1px;
}

/* HEADER ICONS **************************************************************/

.mdl-layout__header-row .mdl-button {
    height: 30px;
    min-height: 30px;
    width: 30px;
    min-width: 30px;
    align-self: flex-start;
    border-radius: 0;
    -webkit-app-region: no-drag;
}

.mdl-button--minimize .material-icons {
    vertical-align: -10px;
    margin-left: -12px;
}

.mdl-button--toggle-maximized .material-icons {
    vertical-align: -4px;
    margin-left: -12px;
}

.mdl-button--exit .material-icons {
    vertical-align: -3px;
    margin-left: -6px;
}

.mdl-layout__header-row .mdl-button--exit {
    width: 45px;
    min-width: 45px;
    /*background-color: #C75050;*/
     /* #E04343; */
}

.mdl-button--exit:hover {
    background-color: #e04343;
}

.mdl-button--exit:active, .mdl-button--exit:focus {
    background-color: #993D3D;
}

/* TABS **********************************************************************/

.rm-tablist {
    -webkit-user-select: none;
    cursor: default;
    display: flex;
    min-height: 36px;
    background: #eee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
        0 3px 1px -2px rgba(0,0,0,.2),
        0 1px 5px 0 rgba(0,0,0,.12);
}

.rm-tablist__newbtn {
    margin-left: 7px;
    align-self: center;
}

/* removes the border radious from the ripple-container generated by angular2-mdl */
.rm-tablist__newbtn .mdl-button--icon .mdl-button__ripple-container {
    border-radius: initial;
    -webkit-mask-image: initial;
}

.rm-tablist__newbtn .mdl-button {
    border-radius: 0;
    height: 28px;
    width: 28px;
    min-width: 28px;
    cursor: inherit;
}

.rm-tab-list__tab {
    position: relative;
}

/* txt label/button */
.rm-tab-list__tab .mdl-button {
    padding-right: 34px;
    text-transform: initial;
    border-radius: 0;
    cursor: inherit;
    overflow: initial;
    color: #333;
    white-space: nowrap;
}
.rm-tab-list__tab .mdl-button:hover {
    background: initial;
}
.rm-tab-list__tab.is-active .mdl-button {
    background-color: white;
}

/* close btn on tab */
.rm-tab-list__tab-closebtn {
    position: absolute;
    opacity: 0;
    top: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: normal;
    cursor: inherit;
    color: #333;
    z-index: 2; /* puts it above the ripple layer for events */
}

.rm-tab-list__tab-closebtn:hover {
    font-weight: bold;
}


.rm-tab-list__tab:hover .rm-tab-list__tab-closebtn,
.rm-tab-list__tab.is-active .rm-tab-list__tab-closebtn {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(1,0,1,.85);
}
rm-tab-list .is-active button:after {
    height: 2px;
    width: 100%;
    display: block;
    content: ' ';
    bottom: 0;
    left: 0;
    position: absolute;
    background: #2196f3;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1) .01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
}

/* OVERLAY *******************************************************************/

.mdl-layout__obfuscator.is-visible {
    -webkit-app-region: no-drag;
}

/* OVERLAY MENU **************************************************************/

.mdl-layout__drawer {
    -webkit-user-select: none;
    cursor: default;
}
