// http://google.github.io/material-design-icons/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../../resources/materialicons/MaterialIcons-Regular.woff2) format('woff2'),
        url(../../resources/materialicons/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  -webkit-user-select: none;
  user-select: none;
}

@font-face {
    font-family: 'Vaadin-Icons';
    src: url(../../resources/vaadinicons/Vaadin-Icons.woff) format('woff');
}

.vaadin-icons {
    font-family: Vaadin-Icons;
    font-size: 16px;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
