/******************************************************************************
    basics
*/
html {
    min-height: 100%;
    cursor: default;
    -webkit-user-select: none;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    min-height: 100%;
    overflow: hidden;
}

/*
    initial loading msg
*/

.loading-msg {
    margin-top: 25%;
    text-align: center;
    color: #999;
}

/*
    overlay handling
*/

f-app {
    position: absolute;
    min-height: 100%;
    width: 100%;
}

.main-layer,
.main-cover,
.over-layer {
    padding-top: 64px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.main-cover {
    padding-top: 0;
    min-height: 100%;
    display: none;
    background: black;
    opacity: 0.5;
}

.main-cover.layer-visible {
    z-index: 1;
    display: block;
}

.over-layer {
    display: none;
}

.over-layer .jumbotron {
    background-color: white;
}

.over-layer.layer-visible {
    z-index: 2;
    display: block;
    overflow: auto;
    height: 100%;
}

.main-layer.layer-visible {
    z-index: 1;
}

/******************************************************************************
    output table
*/

.result-display-container {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
}

.result-display-container .output-table-rows {
    overflow: auto;
}

.result-display-component {
    position: relative;
}

.output-table-header {
    height: 31px;
}

.output-table-rows,
.output-table-header {
    width: 100%;
}

.output-table-rows {
    height: 29px;
    position: absolute;
}

.output-table-header > div,
.output-table-rows > div > div {
    background-color: inherit;
    display: block;
    float: left;
    position: relative;
}

.output-table-header > div > div:first-child {    
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.output-table-header > div > div:first-child,
.output-table-rows > div > div:first-child > div:first-child {
    color: #888;
}

.output-table-header > div:first-child > div:first-child,
.output-table-rows > div > div:first-child > div:first-child {
    text-align: right;
}

.output-table-rows > div > div > div:first-child {
    padding: 2px 5px;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    border-bottom: 1px solid #eee;
}

.output-table-col-dragger {
    width: 4px;
    display: block;
    cursor: col-resize;
    position: absolute;
    top: 0;
    height: 31px;
    right: 0;
}

.output-table-col-dragger:after {
    background: silver;
    width: 1px;
    content: '';
    display: block;
    cursor: col-resize;
    position: absolute;
    top: 0;
    height: 31px;
    right: 0;
}

.output-table-overview {
    padding: 0 15px 15px;
}

/******************************************************************************
    general codemirror 
*/
.CodeMirror {
    border: 1px solid #eee;
    border-radius: 4px;
    font-family: 'Source Code Pro';
    height: auto;
}

.CodeMirror-focused {
    border: 1px solid transparent;
    outline: auto 2px -webkit-focus-ring-color;
}

/* general linting font */
.CodeMirror-lint-tooltip {
    font-family: 'Source Sans Pro';
}

/* customize gutter errors */
.CodeMirror-lint-marker-error {
    background: none;
}

.CodeMirror-lint-marker-multiple  {
    position: relative;
    left: 8px;
    top: 0;
    z-index: 1;
    zoom: 1.5;
}

.CodeMirror-lint-marker-error:before,
.CodeMirror-lint-marker-eol-error:before {
    font-family: 'Glyphicons Halflings';
    color: #e10000;
    z-index: 0;
    content: "\e101";
    position: absolute;
    top: -3px;
    left: 4px;
    zoom: 1.2;
}

/* new eol marker types (same as error) */
.CodeMirror-lint-marker-eol-error {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: relative;
}

/* todo hardcoded values for font sizing */
.CodeMirror-lint-mark-eol-error {
    position: relative;
}

.CodeMirror-lint-mark-eol-error:before {
    content: '';
    position: absolute;
    right: -10px;
    bottom: 0;
    /* about the size of a char */
    height: 19px;
    width: 10px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
}

/* customize tooltip errors (and eol marker type treatment) */
.CodeMirror-lint-message-error,
.CodeMirror-lint-message-eol-error {
    padding-left: 18px;
    background-image: none;
}

.CodeMirror-lint-message-error:before, 
.CodeMirror-lint-message-eol-error:before {
    font-family: 'Glyphicons Halflings';
    color: #e10000;
    content: "\e101";
    position: absolute;
    top: 2px;
    left: 5px;
}
