omnisharp
build
typings
node_modules
app/**/*.js
app/**/*.js.map
bin
obj
omnisharp-win-x64-netcoreapp1.0.zip
omnisharp-ubuntu-x64-netcoreapp1.0.tar.gz
ream-editor-win32-x64
ream-editor-linux-x64
project.lock.json
ream-editor.dev.log
npm-debug.log
create-generated.sql
insert-generated.sql
bundle.css
bundle.css.map
testdb-npgsql.sql
testdb2-npgsql.sql
testdb-sqlserver.sql
testdb2-sqlserver.sql
