# version = build id
version: 0.1.0.{build}
test: off # this turns of AppVeyor automatic searching for test-assemblies
build: off # no msbuild build
os: Windows Server 2012

cache:
  - shell\node_modules # local npm modules
  - '%APPDATA%\npm-cache -> shell\package.json' # npm cache
  - '%USERPROFILE%\.nuget\packages -> query-engine\project.json' # project.json cache

environment:
  CLI_VERSION: latest
  CLI_ARCH: x64
  OUTPATH: ../build
  OMNISHARP_URL: https://github.com/OmniSharp/omnisharp-roslyn/releases/download/v1.9-alpha13/omnisharp-win-x64-netcoreapp1.0.zip
  DOTNETCLI_URL: https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/install.ps1

# see https://github.com/enricosada/fsharp-dotnet-cli-samples/blob/master/appveyor.yml
install:
  # Download install script to install .NET cli in .dotnet dir
  - ps: mkdir -Force ".\scripts\obtain\" | Out-Null
  - ps: mkdir -Force ".\build" | Out-Null
  - ps: Invoke-WebRequest "$env:DOTNETCLI_URL" -OutFile ".\scripts\obtain\install.ps1"
  - ps: $env:DOTNET_INSTALL_DIR = "$pwd\.dotnetcli"
  - ps: '& .\scripts\obtain\install.ps1 -Channel "future" -version "$env:CLI_VERSION" -Architecture "$env:CLI_ARCH" -InstallDir "$env:DOTNET_INSTALL_DIR" -NoPath'
  - ps: $env:Path = "$env:DOTNET_INSTALL_DIR;$env:Path"
  - ps: Invoke-WebRequest "$env:OMNISHARP_URL" -OutFile ".\build\omnisharp.zip"

build_script:
    - ps: push-location "query-engine"
    - ps: dotnet restore
    - ps: dotnet publish --configuration Release --output "$env:OUTPATH"
    - ps: pop-location
    - ps: push-location "shell"
    - ps: Install-Product node ''
    - npm install
    - npm install -g tsdm
    - tsdm rewire
    - npm run ts-once
    - node build.js %OUTPATH%
    - npm run package
    - ps: pop-location
    - ps: push-location build
    - 7zip x omnisharp.zip
    - del omnisharp.zip
    - dir
    - xcopy %DOTNET_INSTALL_DIR% query-engine
    - ps: pop-location
    