# version = build id
version: 0.1.0.{build}
test: off # this turns of AppVeyor automatic searching for test-assemblies
build: off # no msbuild build
os: Windows Server 2012
services:
  - mssql2014
  
environment:
  CLI_VERSION: latest
  CLI_ARCH: x64
  OMNISHARP_URL: https://github.com/OmniSharp/omnisharp-roslyn/releases/download/v1.9-beta1/omnisharp-win-x64-netcoreapp1.zip
  OMNISHARP_ZIP: v1.9-beta1-omnisharp-win-x64-netcoreapp1.zip
  DOTNETCLI_URL: https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/install.ps1
  PACKAGE_BASE: build
  ELECTRON_OUT: linq-editor-win32-x64

cache:
  - 'node_modules -> package.json' # local npm modules
  - '%APPDATA%\npm-cache -> package.json' # npm cache
  - '%USERPROFILE%\.nuget\packages -> project.json' # project.json cache
  - '%OMNISHARP_ZIP%'

# see https://github.com/enricosada/fsharp-dotnet-cli-samples/blob/master/appveyor.yml
install:
  - ps: $env:APP_FINAL="$env:ELECTRON_OUT-$env:APPVEYOR_BUILD_VERSION.zip"
  # upgrades to latest node
  - ps: Install-Product node ''
  # Download install script to install .NET cli in .dotnet dir
  - ps: mkdir -Force ".\scripts\obtain\" | Out-Null
  - ps: Invoke-WebRequest "$env:DOTNETCLI_URL" -OutFile ".\scripts\obtain\install.ps1"
  - ps: $env:DOTNET_INSTALL_DIR = "$pwd\.dotnetcli"
  - ps: '& .\scripts\obtain\install.ps1 -Channel "future" -version "$env:CLI_VERSION" -Architecture "$env:CLI_ARCH" -InstallDir "$env:DOTNET_INSTALL_DIR" -NoPath'
  - ps: $env:Path = "$env:DOTNET_INSTALL_DIR;$env:Path"
  - ps: 'If (-Not(Test-Path $env:OMNISHARP_ZIP)) { Invoke-WebRequest "$env:OMNISHARP_URL" -OutFile "$env:OMNISHARP_ZIP" }'
  # setup db
  - ps: $create_script = [IO.File]::ReadAllText("$env:APPVEYOR_BUILD_FOLDER\scripts\testdb_create.sql")
  - ps: $insert_script = [IO.File]::ReadAllText("$env:APPVEYOR_BUILD_FOLDER\scripts\testdb_insert.sql")
  - ps: $sqlInstance = "(local)\SQL2014"
  - ps: sqlcmd -S "$sqlInstance" -U "sa" -P "Password12!" -Q "use master; create database testdb;"
  - ps: sqlcmd -S "$sqlInstance" -U "sa" -P "Password12!" -Q $create_script
  - ps: sqlcmd -S "$sqlInstance" -U "sa" -P "Password12!" -Q $insert_script
        
build_script:
  - ps: .\build.ps1

artifacts:
  - path: $(ELECTRON_OUT)
