environment:
  COVER_FOLDER: TestCoverage
  COVERALLS_REPO_TOKEN:
    secure: irQMjb5YkoBrSl1u1ayE+MqGUpvDDnOPmFVe3L+Tgvse71DfQhFU4iL5XHPOtpxd

before_build:
  - nuget restore

after_build:
  - 7z a LinqEditor.$(appveyor_build_version).zip %APPVEYOR_BUILD_FOLDER%\LinqEditor.UI.WinForm\bin\Debug

artifacts:
  - path: LinqEditor.$(appveyor_build_version).zip
    name: LinqEditor

test_script:
  - .\runcover.bat
  - ps:$wc = New-Object 'System.Net.WebClient'
  - ps:Write-Host $wc
  - ps:Write-Host "https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)"
  - ps:$wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestResult.xml))

services:
  - mssql2012sp1

configuration:
  - Debug

build:
  project: linq-editor.sln

assembly_info:
  patch: true
  file: AssemblyInfo.cs
  assembly_version: $(appveyor_build_version)
