.loading-msg {
    width: 100%;
    margin-top: 40%;
    text-align: center;
    color: #999; 
}

.main-layer {
    visibility: hidden;
    z-index: 0;
}

.main-layer .container-fluid {
    overflow: hidden;
    height: 0;
    min-height: 0;
}

.main-layer.layer-visible {
    visibility: visible;
    z-index: 1;
}


.main-layer.layer-visible .container-fluid {
    overflow: auto;
    height: auto;
    min-height: auto;
}

body {
  min-height: 100%;
  padding-top: 64px;
}

.CodeMirror {
    height: auto;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
    40% { transform: scale(1.4); }
    60% { transform: scale(1.4); }
	100% { transform: scale(1); }
}

.backend-timer-pulse {
	animation-name: pulse_animation;
	animation-duration: 1500ms;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
