/*
    initial loading msg
*/

.loading-msg {
    margin-top: 25%;
    text-align: center;
    color: #999;
}

/*
    overlay handling
*/

f-app {
    position: absolute;
    min-height: 100%;
    width: 100%;
}

.main-layer,
.main-cover,
.over-layer {
    padding-top: 64px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.main-cover {
    padding-top: 0;
    min-height: 100%;
    display: none;
    background: black;
    opacity: 0.5;
}

.main-cover.layer-visible {
    z-index: 1;
    display: block;
}

.over-layer {
    display: none;
}

.over-layer .jumbotron {
    background-color: white;
}

.over-layer.layer-visible {
    z-index: 2;
    display: block;
    overflow: auto;
    height: 100%;
}

.main-layer.layer-visible {
    z-index: 1;
}

/*
    style output text areas
*/

.result-display-container {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
}

.result-display-container .output-table-rows {
    overflow: auto;
}

.result-display-component {
    position: relative;
}

.output-table-header {
    height: 31px;
}

.output-table-rows,
.output-table-header {
    width: 100%;
}

.output-table-rows {
    height: 29px;
    position: absolute;
}

.output-table-header > div,
.output-table-rows > div > div {
    /*outline: 1px solid hotpink;*/
    background-color: inherit;
    display: block;
    float: left;
    position: relative;
}

.output-table-header > div > div:first-child {    
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    /*background-color: lightsalmon;*/
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.output-table-header > div:first-child > div:first-child,
.output-table-rows > div > div:first-child > div:first-child {
    text-align: right;
    color: #888;
}

.output-table-rows > div > div > div:first-child {
    padding: 2px 5px;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    border-bottom: 1px solid #eee;
    /*background-color: greenyellow;*/
}

.output-table-col-dragger {
    width: 4px;
    display: block;
    cursor: col-resize;
    position: absolute;
    top: 0;
    height: 31px;
    right: 0;
}

.output-table-col-dragger:after {
    background: silver;
    width: 1px;
    content: '';
    display: block;
    cursor: col-resize;
    position: absolute;
    top: 0;
    height: 31px;
    right: 0;
}

.output-table-overview {
    padding: 0 15px 15px;
}

/*
table.table.output-table.resizing-columns th {
    background-color: bisque;
}

table.table.output-table > caption .pull-right {
    margin: 0;
}

table.table.output-table > caption {
    padding-top: 0;
    padding-bottom: 0;
    color: inherit;
}

table.table.output-table th {
    position: relative;
    border-bottom: none;
}


table.table.output-table tbody tr:first-child td {
    border-top-width: 2px;
}


table.table.output-table th > div:first-child,
table.table.output-table td > div:first-child {
    width: inherit;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}*/

/*
    other random stuff
*/

html {
    min-height: 100%;
    cursor: default;
    -webkit-user-select: none;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.CodeMirror {
    border: 1px solid #eee;
    border-radius: 4px;
    font-family: 'Consolas';
    height: auto;
}

.CodeMirror-focused {
    border: 1px solid transparent;
    outline: auto 2px -webkit-focus-ring-color;
}

.CodeMirror-hints {
    font-family: 'Consolas';
    max-height: 35em;
}

.CodeMirror-hint {
    max-width: 20em;
    /* 
    todo: ideally only if completions are overflowing.
    otherwise we'll cover some of the text with scrollbar ...
    */
    padding-right: 20px;
}

.CodeMirror-lint-tooltip {
    font-family: 'Consolas';
}

.CodeMirror-lint-marker-error:before {
    content: "\e101";
    position: relative;
    top: -3px;
    left: 4px;
    zoom: 1.2;
}

.CodeMirror-lint-message-error:before {
    font-family: 'Glyphicons Halflings';
    color: #e10000;
    content: "\e101";
    position: absolute;
    top: 2px;
    left: 5px;
}

.CodeMirror-lint-message-error {
    background-image: none;
}

.CodeMirror-lint-marker-error {
    background-image: none;
    font-family: 'Glyphicons Halflings';
    color: #e10000;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
    40% { transform: scale(1.4); }
    60% { transform: scale(1.4); }
	100% { transform: scale(1); }
}

.backend-timer-pulse {
	animation-name: pulse_animation;
	animation-duration: 1500ms;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
