/*
    initial loading msg
*/

.loading-msg {
    margin-top: 25%;
    text-align: center;
    color: #999;
}

/*
    overlay handling
*/

f-app {
    position: absolute;
    height: calc(100% - 64px);
    width: 100%;
}

.main-layer {
    height: 0;
    visibility: hidden;
    z-index: 0;
}

.main-layer .container-fluid {
    overflow: hidden;
    height: 0;
    min-height: 0;
}

.main-layer.layer-visible {
    height: calc(100% - 64px);
    visibility: visible;
    z-index: 1;
}

.main-layer.layer-visible .container-fluid {
    overflow: visible;
    height: auto;
    min-height: auto;
}

/*
    style output text areas
*/

.output-table {
    overflow: auto;
}

.output-table td {
    padding-bottom: 2px !important;
}

.output-table td > textarea {
    border: none;
    width: 100%;
    resize: none;
}

.output-table td > textarea:focus,
.output-table td > textarea:active,
.output-table td > textarea:hover {
    resize: both;
}

.output-table td > textarea:focus,
.output-table td > textarea:active {
    outline: none;
}

/*
    other random stuff
*/

html {
    height: 100%;
}

body {
  min-height: 100%;
  padding-top: 64px;
}

.container-fluid {
    
}

.CodeMirror {
    height: auto;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
    40% { transform: scale(1.4); }
    60% { transform: scale(1.4); }
	100% { transform: scale(1); }
}

.backend-timer-pulse {
	animation-name: pulse_animation;
	animation-duration: 1500ms;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
