/*
    initial loading msg
*/

.loading-msg {
    margin-top: 25%;
    text-align: center;
    color: #999;
}

/*
    overlay handling
*/

f-app {
    position: absolute;
    min-height: 100%;
    width: 100%;
}

.main-layer,
.main-cover,
.over-layer {
    padding-top: 64px;
    min-height: calc(100% - 64px);
    width: 100%;
    position: absolute;
    z-index: 0;
}

.main-cover {
    padding-top: 0;
    min-height: 100%;
    display: none;
    background: black;
    opacity: 0.5;
}

.main-cover.layer-visible {
    z-index: 1;
    display: block;
}

.over-layer {
    display: none;
}

.over-layer .jumbotron {
    background-color: white;
}

.over-layer.layer-visible {
    z-index: 2;
    display: block;
    overflow: auto;
    height: 100%;
}

.main-layer.layer-visible {
    /*height: calc(100% - 64px);
    visibility: visible;*/
    z-index: 1;
}
/*
.main-layer.layer-visible .container-fluid {
    overflow: visible;
    height: auto;
    min-height: auto;
}*/

/*
    style output text areas
*/

.output-table {
    overflow: auto;
}

table.table.output-table > caption {
    padding-top: 0;
    padding-bottom: 0;
    color: inherit;
}

.output-table td {
    padding-bottom: 2px !important;
}

.output-table td > textarea {
    border: none;
    width: 100%;
    resize: none;
}

.output-table td > textarea:focus,
.output-table td > textarea:active,
.output-table td > textarea:hover {
    resize: both;
}

.output-table td > textarea:focus,
.output-table td > textarea:active {
    outline: none;
}

/*
    other random stuff
*/

html {
    min-height: 100%;
}

body {
  min-height: 100%;
  /*padding-top: 64px;*/
}

.CodeMirror {
    font-family: 'Consolas';
    height: auto;
}

.CodeMirror-hints {
    font-family: 'Consolas';
    max-height: 35em;
}

.CodeMirror-hint {
    max-width: 20em;
    /* 
    todo: ideally only if completions are overflowing.
    otherwise we'll cover some of the text with scrollbar ...
    */
    padding-right: 20px;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
    40% { transform: scale(1.4); }
    60% { transform: scale(1.4); }
	100% { transform: scale(1); }
}

.backend-timer-pulse {
	animation-name: pulse_animation;
	animation-duration: 1500ms;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
