rm-connection-manager {
    display: flex;
    // prevent from participating in regular flex layout
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.rm-connection-manager {
    z-index: 1000;
    padding: 20px;
    margin: 0;
    border: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--dialog-bg-color);
    color: var(--primary-fore-color);

    &__add-new {
        height: calc(1px * var(--control-row-height));
        margin: calc(1px * var(--margin));
        display: flex;
        flex-direction: row;
        input {
            flex-grow: 1;
            margin-right: calc(1px * var(--margin));
        }
        select {
            margin-right: calc(1px * var(--margin));
        }
    }

    &__connection {
        margin: calc(1px * var(--margin));
        margin-bottom: calc(3px * var(--margin));
        display: flex;
        flex-direction: row;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--primary-border);
        }

        &__text-block {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            margin: calc(1px * var(--margin));

            &__type {
                opacity: 0.6;
            }
        }

        button {
            margin: calc(1px * var(--margin));
        }
    }

    &__title,
    &__container {
        min-width: 300px;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    &__container {
        height: calc(100% - 60px);
        overflow-y: auto;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        button {
            border: none;
            background: transparent;
        }
    }

    &__validation {
        margin-bottom: calc(10px * var(--margin));
        &__output {

        }
    }
}