rm-connection-manager {
    
    paper-dialog {
        max-width: 800px;
        max-height: calc(100vh - 100px);
    }

    paper-dialog-scrollable::shadow .scrollable {
        max-height: calc(100vh - 230px);
    }
}
