rm-controls {
    max-height: calc(1px * var(--control-row-height));
    min-height: calc(1px * var(--control-row-height));
    display: flex;
    flex-direction: row;
    margin: calc(1px * var(--margin));
    overflow: hidden;
}

.rm-controls {
    &__run {
        background-color: var(--tab-inactive-bg-color);
        color: var(--primary-fore-color);
        border: 1px solid var(--primary-border);
        font-size: calc(1px * var(--font-size-body));
        margin-right: calc(1px * var(--margin));
    }
}
