rm-editor {
    // mimics paper-material
    .rm-editor {
        border-top: 1px solid var(--primary-border);
    }
    // must stuff is defined off in app/styles/mirror-hint.scss and mirror-lint.scss 
    .CodeMirror {
        height: 150px;
        font-family: 'Roboto Mono';
        &-gutters {
            border-right: 1px solid #fff;
        }
    }
}
