rm-editor {
    // mimics paper-material
    .rm-editor {
        margin: 20px 2px;
        border-radius: 2px;
        padding: 16px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    .CodeMirror {
        font-family: 'Roboto Mono';
        &-gutters {
            border-right: 1px solid #fff;
        }
    }
}
