rm-query-panel {
    position: absolute;
    top: calc(1px * var(--tab-list-height));
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .rm-query-panel {
        &__session {
            display: flex;
            flex-direction: column;
        }
    }
}
