rm-result-display {
    flex-grow: 1;

    .rm-result-display {
        &__output-list {
            display: flex;
            flex-direction: row;
            margin: -10px 5px 5px 5px;
            min-height: 36px;

            paper-button {
                text-transform: initial;
                color: #333;
                line-height: 10px;
                iron-icon {
                    padding-right: 4px;
                    margin-top: -3px;
                }
                &.active {
                    background-color: #f3f3f3;
                }
            }

            mdl-chip {
                margin-right: 10px;
            }

            iron-icon {
                vertical-align: -1px;
                height: 15px;
                width: 15px;
            }
        }

        &__table {
            position: relative;
            height: calc(100vh - 380px);
            width: 100%;

            &__hider {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background-color: white;
                z-index: 999;
            }

            &__hot {

                height: 100%;
                width: 100%;
                overflow: hidden;

                .colHeader {
                    display: block;
                    text-align: left;
                    cursor: default;
                }
                .rowHeader {
                    opacity: 0.5;
                    cursor: default;
                }
                td {
                    cursor: default;
                }
            }
        }
    }
}
