rm-result-display {
    flex-grow: 1;

    .rm-result-display {
        &__output-list {
            display: flex;
            flex-direction: row;
            margin: -10px 10px 10px 10px;
            min-height: 36px;

            mdl-chip {
                margin-right: 10px;
            }

            iron-icon {
                vertical-align: -1px;
                height: 15px;
                width: 15px;
            }
        }

        &__table {
            height: calc(100vh - 390px);
        }
    }
}
