rm-result-display {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rm-result-display {
    &__output-list {
        position: relative;
        display: flex;
        flex-direction: row;
        min-height: calc(1px * var(--tab-list-height) - 5px);
        max-height: calc(1px * var(--tab-list-height) - 5px);
        margin-top: 3px;
        margin-bottom: 2px;

        &::after {
            content: ' ';
            display: block;
            flex-grow: 1;
            margin-left: -2px;
            border-bottom: 1px solid var(--primary-border);
        }
    }

    &__tab {
        position: relative;
        margin: 0 2px;

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: -1px;
            left: -4px;
            width: 5px;
            height: calc(100% + 1px);
            border-bottom: 1px solid var(--primary-border);
        }

        button {
            height: 100%;
            // use dark color for inactive tabs
            background-color: var(--tab-inactive-bg-color);
            color: var(--primary-fore-color);
            border: 1px solid var(--primary-border);
            font-size: calc(1px * var(--font-size-body));
            padding: 0 10px;
            .vaadin-icons {
                font-size: calc(1px * var(--font-size-body) - 2px);
                margin-right: 4px;
            }
            .material-icons {
                font-size: calc(1px * var(--font-size-body) + 1px);
                margin-right: 4px;
                line-height: 1px;
                vertical-align: -3px;
                width: 15px;
                min-width: 15px;
            }
            span {
                -webkit-user-select: none;
                user-select: none;
                white-space: nowrap;
                font-family: 'Roboto Mono';
            }
        }

        &--active {
            button {
                background-color: var(--primary-bg-color);
                border-bottom: 1px solid var(--primary-bg-color);
            }
        }
    }

    &__console {
        position: relative;
        height: calc(100% - (1px * var(--tab-list-height)));
        width: 100%;
        overflow: auto;

        &__listing {
            margin: calc(1px * var(--margin));
            padding: 0;
        }
        &__date {
            font-family: 'Roboto Mono';
            opacity: 0.5;
            letter-spacing: -1px;
        }
        &__log {
            list-style-type: none;

            &--error {
                color: red;
            }
        }
    }

    &__table {
        position: relative;
        height: calc(100% - (1px * var(--tab-list-height)));
        width: 100%;

        &--inactive {
            position: absolute;
            left: 99999px;
            right: 99999px;
        }

        &__hider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--primary-bg-color);
            z-index: 999;
        }

        &__hot {

            height: 100%;
            width: 100%;
            overflow: hidden;

            .colHeader {
                display: block;
                text-align: left;
                cursor: default;
                -webkit-user-select: none;
                user-select: none;
            }
            .rowHeader {
                opacity: 0.5;
                cursor: default;
                -webkit-user-select: none;
                user-select: none;
            }
            td {
                cursor: default;
                // hot adds the white-space nowrap
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-user-select: none;
                user-select: none;
            }
        }
    }
}
