rm-result-display {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rm-result-display {
    &__output-list {
        position: relative;
        display: flex;
        flex-direction: row;
        min-height: calc(1px * var(--tab-list-height) - 5px);
        max-height: calc(1px * var(--tab-list-height) - 5px);
        margin-top: 3px;
        margin-bottom: 2px;

        &::before {
            content: ' ';
            display: block;
            height: 1px;
            width: 100vw;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid var(--primary-border);
        }
    }

    &__tab {
        position: relative;
        margin: 0 2px;

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: -1px;
            left: -4px;
            width: 5px;
            height: 100%;
            border-bottom: 1px solid var(--primary-border);
        }

        button {
            height: 100%;
            // use dark color for inactive tabs
            background-color: var(--tab-inactive-bg-color);
            color: var(--primary-fore-color);
            border: 1px solid var(--primary-border);
            font-size: calc(1px * var(--font-size-body));
            padding: 0 10px;
            .vaadin-icons {
                font-size: calc(1px * var(--font-size-body) - 2px);
                padding-right: 2px;
            }
            span {
                white-space: nowrap;
                font-family: 'Roboto Mono';
            }
        }

        &--active {
            button {
                background-color: var(--primary-bg-color);
                border-bottom: 1px solid var(--primary-bg-color);
            }
        }
    }

    &__table {
        position: relative;
        height: calc(100% - (1px * var(--tab-list-height)));
        width: 100%;

        &__hider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: var(--primary-bg-color);
            z-index: 999;
        }

        &__hot {

            height: 100%;
            width: 100%;
            overflow: hidden;

            .colHeader {
                display: block;
                text-align: left;
                cursor: default;
            }
            .rowHeader {
                opacity: 0.5;
                cursor: default;
            }
            td {
                cursor: default;
            }
        }
    }
}
