rm-tab-list {
    position: relative;
    display: flex;
    flex-direction: row;

    &::before {
        content: ' ';
        display: block;
        height: 1px;
        width: 100vw;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid var(--primary-border);
    }
}

.rm-tab-list {
    &__tabs {
        user-select: none;
        cursor: default;
        display: flex;
        min-height: 30px;
        height: 30px;
        background: var(--primary-bg-color);
        color: var(--primary-fore-color);
        overflow: visible;
    }

    &__tab {
        position: relative;
        margin: 0 2px;

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: -1px;
            left: -4px;
            width: 5px;
            height: 100%;
            border-bottom: 1px solid var(--primary-border);
        }

        > button {
            height: 100%;
            // use dark color for inactive tabs
            background-color: var(--tab-inactive-bg-color);
            color: var(--primary-fore-color);
            border: 1px solid var(--primary-border);
            font-size: calc(1px * var(--font-size-body));
            padding-left: 7px;
            padding-right: 25px;

            &:focus, &:active {
                border: 1px solid var(--selection-bg-color);
                outline: none;
            }

        }

        &__droptarget {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 3; /* place it above icons to allow dropping anywhere */
        }

        &--active {
            > button {
                background-color: var(--primary-bg-color);
                border-bottom: 1px solid var(--primary-bg-color);
            }
        }
    }

    &__tab-closebtn {
        position: absolute;
        top: 7px;
        right: 5px;
        line-height: 11px;
        padding: 1px;
        .material-icons {
            font-size: 15px;
            font-weight: bold;
        }
    }

    &__gutter-droptarget {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 3; /* place it above icons to allow dropping anywhere */
    }

    &__newbtn {
        margin-left: 7px;
        align-self: center;            
    }
}
